.footer{border-top: 2px solid rgba(17, 17, 17, 0.1); position: absolute; bottom: 0; width: 100%;}
.footer .content{display: flex; justify-content: space-between; padding: 8px 0;}
.footer .text{opacity: 0.5;}